## Apty Python and Data-Analysis Intro

This tutorial has been adapted from https://cs231n.github.io/python-numpy-tutorial/

## What is a Jupyter Notebook?

A Jupyter notebook is made up of a number of cells. Each cell can contain Python code. There are two main types of cells: `Code` cells and `Markdown` cells. This particular cell is a `Markdown` cell. You can execute a particular cell by double clicking on it (the highlight color will switch from blue to green) and pressing `Shift-Enter`. When you do so, if the cell is a `Code` cell, the code in the cell will run, and the output of the cell will be displayed beneath the cell, and if the cell is a `Markdown` cell, the markdown text will get rendered beneath the cell.

Go ahead and try executing this cell.

The cell below is a `Code` cell. Go ahead and click it, then execute it.

In [ ]:
x = 1
x

Global variables are shared between cells. Try executing the cell below:

In [ ]:
y = 2 * x
y

## Python Tutorial

## Basics of Python

Python is a high-level, dynamically typed multiparadigm programming language. Python code is often said to be almost like pseudocode, since it allows you to express very powerful ideas in very few lines of code while being very readable. As an example, here is an implementation of the classic quicksort algorithm in Python:

### Basic data types

#### Numbers

Integers and floats work as you would expect from other languages:

In [ ]:
x = 3
x, type(x)

In [ ]:
x + 1   # Addition
x - 1   # Subtraction
x * 2   # Multiplication
x ** 2  # Exponentiation

In [ ]:
x += 1
x

In [ ]:
x *= 2
x

In [ ]:
y = 2.5
type(y)

In [ ]:
y, y + 1, y * 2, y ** 2

#### Booleans

Python implements all of the usual operators for Boolean logic, but uses English words rather than symbols (`&&`, `||`, etc.):

In [ ]:
t, f = True, False
type(t)

Now we let's look at the operations:

In [ ]:
t and f # Logical AND;
t or f  # Logical OR;
not t   # Logical NOT;
t != f  # Logical XOR;

#### Strings

In [ ]:
hello = 'hello'   # String literals can use single quotes
world = "world"   # or double quotes; it does not matter
hello, len(hello)

In [ ]:
hw = hello + ' ' + world  # String concatenation
hw

In [ ]:
hw12 = '{} {} {}'.format(hello, world, 12)  # string formatting
hw12

String objects have a bunch of useful methods; for example:

### Containers

Python includes several built-in container types: lists, dictionaries, sets, and tuples.

#### Lists

A list is the Python equivalent of an array, but is resizeable and can contain elements of different types:

In [ ]:
xs = [3, 1, 2]   # Create a list
xs, xs[2]

In [ ]:
xs[-1]

In [ ]:
xs[2] = 'foo'    # Lists can contain elements of different types
xs

In [ ]:
xs.append('bar') # Add a new element to the end of the list
xs

In [ ]:
x = xs.pop()     # Remove and return the last element of the list
x, xs

#### Slicing

In addition to accessing list elements one at a time, Python provides concise syntax to access sublists; this is known as slicing:

In [ ]:
nums = list(range(5))    # range is a built-in function that creates a list of integers
nums         # Prints "[0, 1, 2, 3, 4]"

In [ ]:
nums[2:4]

In [ ]:
nums[2:], nums[:2]

In [ ]:
nums[:]

In [ ]:
nums[-1]

In [ ]:
nums[2:4] = [8, 9]
nums

#### Loops

You can loop over the elements of a list like this:

In [ ]:
animals = ['cat', 'dog', 'monkey']
for animal in animals:
    print(animal)

If you want access to the index of each element within the body of a loop, use the built-in `enumerate` function:

In [ ]:
animals = ['cat', 'dog', 'monkey']
for idx, animal in enumerate(animals):
    print('#{}: {}'.format(idx + 1, animal))

#### List comprehensions

When programming, frequently we want to transform one type of data into another. As a simple example, consider the following code that computes square numbers:

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = []
for x in nums:
    squares.append(x ** 2)
squares

You can make this code simpler using a list comprehension:

In [ ]:
nums = [0, 1, 2, 3, 4]
squares = [x ** 2 for x in nums]
squares

List comprehensions can also contain conditions:

In [ ]:
nums = [0, 1, 2, 3, 4]
even_squares = [x ** 2 for x in nums if x % 2 == 0]
even_squares

While Loops

In [ ]:
counter = 0
while counter < 5:
    print(str(counter) + ' lower than 5')
    counter += 1

#### Dictionaries

A dictionary stores (key, value) pairs.

In [ ]:
d = {'cat': 'cute', 'dog': 'furry'}  
d['cat']

In [ ]:
'cat' in d

In [ ]:
d['fish'] = 'wet'
d['fish']

In [ ]:
d['monkey']

In [ ]:
d.get('monkey', 'N/A')

In [ ]:
del d['fish']        
d.get('fish', 'N/A')

In [ ]:
d = {'person': 2, 'cat': 4, 'spider': 8}
for animal, legs in d.items():
    print('A {} has {} legs'.format(animal, legs))

Dictionary comprehensions: These are similar to list comprehensions, but allow you to easily construct dictionaries. For example:

In [ ]:
nums = [0, 1, 2, 3, 4]
even_num_to_square = {x: x ** 2 for x in nums if x % 2 == 0}
even_num_to_square

#### Tuples

A tuple is an (immutable) ordered list of values. A tuple is in many ways similar to a list; one of the most important differences is that tuples can be used as keys in dictionaries and as elements of sets, while lists cannot. Here is a trivial example:

In [ ]:
t = (5, 6)
type(t)

In [ ]:
t[0] = 1

### Conditionals

In [ ]:
number_1 = 5
number_2 = 2
if number_1 > number_2:
    print('First number is bigger than the 2nd.')

In [ ]:
number=20
if number < 10 or number > 15:
    print('The number is in the wrong range.')

### Functions

Python functions are defined using the `def` keyword. For example:

In [ ]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

for x in [-1, 0, 1]:
    sign(x)

We will often define functions to take optional keyword arguments, like this:

In [ ]:
def hello(name, loud=False):
    if loud:
        'HELLO, {}'.format(name.upper())
    else:
        'Hello, {}!'.format(name)

hello('Bob')
hello('Fred', loud=True)

## Numpy

Numpy is the core library for scientific computing in Python. It provides a high-performance multidimensional array object, and tools for working with these arrays. If you are already familiar with MATLAB, you might find this [tutorial](http://wiki.scipy.org/NumPy_for_Matlab_Users) useful to get started with Numpy.

To use Numpy, we first need to import the `numpy` package:

In [ ]:
import numpy as np

### Arrays

A numpy array is a grid of values, all of the same type, and is indexed by a tuple of nonnegative integers. The number of dimensions is the rank of the array; the shape of an array is a tuple of integers giving the size of the array along each dimension.

We can initialize numpy arrays from nested Python lists, and access elements using square brackets:

In [ ]:
a = np.array([1, 2, 3])
type(a), a.shape, a[0], a[1], a[2]

In [ ]:
a[0] = 5
a

In [ ]:
b = np.array([[1,2,3],[4,5,6]])
b, b.shape

In [ ]:
b[0, 0], b[0, 1], b[1, 0]

In [ ]:
b[:1]

In [ ]:
b[:,1]

In [ ]:
b[1,:]

Numpy also provides many functions to create arrays:

In [ ]:
a = np.zeros((2,2))  # Create an array of all zeros
a

In [ ]:
b = np.ones((1,2))   # Create an array of all ones
b

In [ ]:
d = np.eye(2)        # Create a 2x2 identity matrix
d

In [ ]:
e = np.random.random((2,2)) # Create an array filled with random values
e

### Array indexing

Numpy offers several ways to index into arrays.

Slicing: Similar to Python lists, numpy arrays can be sliced. Since arrays may be multidimensional, you must specify a slice for each dimension of the array:

In [ ]:
a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])
a

In [ ]:
b = a[:2, 1:3]
b

A slice of an array is a view into the same data, so modifying it will modify the original array.

In [ ]:
a[0, 1]
b[0, 0] = 77
a[0, 1]

You can also mix integer indexing with slice indexing. However, doing so will yield an array of lower rank than the original array. Note that this is quite different from the way that MATLAB handles array slicing:

In [ ]:
a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])
a

Two ways of accessing the data in the middle row of the array.
Mixing integer indexing with slices yields an array of lower rank,
while using only slices yields an array of the same rank as the
original array:

In [ ]:
row_r1 = a[1, :]
row_r2 = a[1:2, :]

In [ ]:
row_r1, row_r2

In [ ]:
col_r1 = a[:, 1]
col_r2 = a[:, 1:2]

In [ ]:
col_r1, col_r2

One useful trick with integer array indexing is selecting or mutating one element from each row of a matrix:

In [ ]:
# Create a new array from which we will select elements
a = np.array([[1,2,3], [4,5,6], [7,8,9], [10, 11, 12]])
a

In [ ]:
import numpy as np

a = np.array([[1,2], [3, 4], [5, 6]])

bool_idx = (a > 3)

bool_idx

In [ ]:
a[bool_idx]

In [ ]:
# We use boolean array indexing to construct a rank 1 array
# consisting of the elements of a corresponding to the True values
# of bool_idx
a[bool_idx]

# We can do all of the above in a single concise statement:
a[a > 2]

For brevity we have left out a lot of details about numpy array indexing; if you want to know more you should read the documentation.

### Datatypes

Every numpy array is a grid of elements of the same type. Numpy provides a large set of numeric datatypes that you can use to construct arrays. Numpy tries to guess a datatype when you create an array, but functions that construct arrays usually also include an optional argument to explicitly specify the datatype. Here is an example:

In [ ]:
x = np.array([1, 2])  # Let numpy choose the datatype
y = np.array([1.0, 2.0])  # Let numpy choose the datatype
z = np.array([1, 2], dtype=np.int64)  # Force a particular datatype

x.dtype, y.dtype, z.dtype)

You can read all about numpy datatypes in the [documentation](http://docs.scipy.org/doc/numpy/reference/arrays.dtypes.html).

### Array math

Basic mathematical functions operate elementwise on arrays, and are available both as operator overloads and as functions in the numpy module:

In [ ]:
x = np.array([[1,2],[3,4]], dtype=np.float64)
y = np.array([[5,6],[7,8]], dtype=np.float64)

# Elementwise sum; both produce the array
x + y
np.add(x, y)

In [ ]:
# Elementwise difference; both produce the array
x - y
np.subtract(x, y)

In [ ]:
# Elementwise product; both produce the array
x * y
np.multiply(x, y)

In [ ]:
# Elementwise division; both produce the array
# [[ 0.2         0.33333333]
#  [ 0.42857143  0.5       ]]
x / y
np.divide(x, y)

In [ ]:
# Elementwise square root; produces the array
# [[ 1.          1.41421356]
#  [ 1.73205081  2.        ]]
np.sqrt(x)

### Sum across a given Axis

In [ ]:
x

In [ ]:
x.sum(axis=0)

## Basic Python Questions

**1.** Given an array of ints, return True if the array contains a 2 next to a 2
somewhere.

Ex:
has22([1, 2, 2]) → True

has22([1, 2, 1, 2]) → False

has22([2, 1, 2]) → False

**2.** Write a program to compute 1/2+2/3+3/4+...+n/n+1 with a given n¶

## Numpy Questions

**1.** Create a Uniform Distribution numpy array with integer values between 0 and 10 with shape 100x2 and identify the sum, mean, min, max of the array along two columns

**2.** Write Function to implement Quantiles Logic, quantile(np.array) => list the 4 quantile values